DB_PORT=5432
DB_USER=dev
DB_NAME=family_tracker
DB_PASSWORD=dev

JWT_ACCESS_SECRET=dev
JWT_REFRESH_SECRET=devv

BOT_TOKEN=token

CLOUDINARY_CLOUD_NAME=cloudName
CLOUDINARY_API_KEY=apiKey
CLOUDINARY_SECRET=cloudinarySecret
CLOUDINARY_FOLDER_NAME=uploads

FRONTEND_URL=http://localhost:5173
